@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Application description page.</h3>
<br />
<h5><b>MVC Web application which should allow an  Employee to register.
Authorize him so that he should be able to view and edit his details.<br />
He has been provided with Views to see : </b></h5>
    <ol>
        <li>His payslip Details</li>
        <li>His Department details</li>
        <li>The list of Employees working in the same department.</li>
    </ol>
<h5><b>He has been provided with filters where he can see employees : </b></h5>
<ol>
    <li>joined after him in the organization</li>
    <li>Joined after him in his department</li>
</ol>
<h5><b>Following concepts has been implemented : </b></h5>
<ol>
    <li>CRUD Operations</li>
    <li>Attribute based routing</li>
    <li>Partial View</li>
    <li>HTML Helpers</li>
    <li>Areas</li>
    <li>Model Binding</li>
    <li>Model Validations</li>
</ol>

    <h4><b>Admin Password</b></h4>
    <h5>Username : admin</h5>
    <h5>Password : admin</h5>
