@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mindtree Ltd.<br />
    Sagnik Saha<br />
    <strong>Mail ID:</strong>   <a href="mailto:Sagnik.Saha@mindtree.com">Sagnik.Saha@mindtree.com</a><br />
</address>