@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <h1>Employee Portal</h1>
    <br />
    <p class="lead">An ASP.NET Web applications<br />
    using MVC 5 Features</p>
    
    <p><a href="/Account/User_Register" class="btn btn-info">Register Here</a></p>
    <br />
</div>

<div class="row">
   
</div>