
@{
    ViewBag.Title = "Admin_Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin_Page</h2>
@Html.ActionLink("Show all Employees", "ShowAllEmpData", "Admin")<br />
@Html.ActionLink("Show all Departments", "ShowAllDept", "Admin")


